services:
  blog-web-frontend:
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy
    image: my-blog:v1.1
    container_name: www-dreamzero-web-frontend
    ports:
      - ${front_end_port}:3000
    volumes:
      - ./frontend/src/content/blog:/blog/frontend/src/content/blog
    env_file: .env
    environment:
      - TZ=${TIMEZONE}
    networks:
      - blog
    restart: always
    extra_hosts:
      - "myhost:host-gateway"
  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z # 全功能版本
    container_name: minio
    restart: unless-stopped
    ports:
      - 19100:9100
      - 19001:9001
    environment:
      MINIO_ROOT_USER: "admin"
      MINIO_ROOT_PASSWORD: "dreamzero.admin.123"
    # 指定端口、控制台端口、文件存放目录
    command: server --address ":9100" --console-address ":9001" /cdata
    volumes:
      - ./minio/data:/cdata
    networks:
      - blog
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - '16379:6379'
    volumes:
      - ./redis/data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - ./redis/logs:/logs
    #配置文件启动
    command: redis-server /usr/local/etc/redis/redis.conf
  postgres:
    image: postgres:latest                            # 使用 PostgreSQL 镜像
    container_name: dreamzero-postgres                # 容器名称
    environment:
      POSTGRES_USER: root                             # 设置用户名为 'root'
      POSTGRES_PASSWORD: dreamzero_postgres_123       # 设置密码为 'dreamzero_postgres_123'
      POSTGRES_DB: moity_blog                         # 设置数据库名为 'moity_blog'
    ports:
      - "15432:5432"                   # 将容器的 5432 端口映射到主机的 15432 端口
    volumes:
      - ./postgres/data:/var/lib/postgresql/data  # 数据映射到主机指定路径
  kafka:
    image: 'bitnami/kafka:3.6.2'
    container_name: kafka
    restart: always
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    environment:
      - TZ=Asia/Shanghai
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://192.168.9.81:9094
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
    networks:
      - blog
    ports:
      - '19092:9092'
      - '19094:9094'
    volumes:
      - ./kafka/data:/bitnami/kafka
      - ./kafka/logs:/bitnami/kafka/logs
networks:
  blog:
    driver: bridge
