services:
  blog-web-frontend:
    # depends_on:
    #   mysql:
    #     condition: service_healthy
    image: my-blog:v1.1
    container_name: www-dreamzero-web-frontend
    ports:
      - ${front_end_port}:3000
    volumes:
      - ./frontend/src/content/blog:/blog/frontend/src/content/blog
    env_file: .env
    environment:
      - TZ=${TIMEZONE}
    networks:
      - blog
    restart: always
    extra_hosts:
      - "myhost:host-gateway"

networks:
  blog:
    driver: bridge
