basePath: /api/v1
definitions:
  internal.Response:
    properties:
      code:
        type: integer
      data: {}
      msg:
        type: string
    type: object
  models.ArticleComment:
    properties:
      article_title:
        type: string
      content:
        type: string
      is_notify:
        type: boolean
      is_pass:
        type: boolean
      is_read:
        type: boolean
    type: object
  models.DailyPhotograph:
    description: 日常照片
    properties:
      created_at:
        type: string
      id:
        type: integer
      image_url:
        type: string
      title:
        type: string
      updated_at:
        type: string
    type: object
  service.AddCommentService:
    properties:
      artical_title:
        items:
          type: string
        type: array
      comment:
        type: string
    required:
    - artical_title
    - comment
    type: object
host: 127.0.0.1:9997
info:
  contact:
    email: ouxiangming_moi@foxmail.com
    name: MOITY
    url: http://www.moity-soeoe.com
  description: This is a sample blog server.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Blog-server
  version: "1.0"
paths:
  /artical_comment/add:
    post:
      consumes:
      - application/json
      description: 添加评论
      parameters:
      - description: 评论内容
        in: body
        name: comment
        required: true
        schema:
          $ref: '#/definitions/service.AddCommentService'
      - description: 文章标题列表
        in: body
        name: artical_title
        required: true
        schema:
          $ref: '#/definitions/service.AddCommentService'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
        "20301":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 添加评论
      tags:
      - artical_comment
  /artical_comment/list:
    get:
      consumes:
      - application/json
      description: 获取评论列表
      parameters:
      - description: 文章标题列表
        in: query
        name: artical_title
        type: string
      - description: 是否通知
        in: query
        name: is_notify
        type: boolean
      - description: 是否已读
        in: query
        name: is_read
        type: boolean
      - description: 是否通过审核
        in: query
        name: is_pass
        type: boolean
      - description: 通知排序
        in: query
        name: notify_desc
        type: boolean
      - description: 已读排序
        in: query
        name: read_desc
        type: boolean
      - description: 通过审核排序
        in: query
        name: pass_desc
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/models.ArticleComment'
                  type: array
              type: object
        "20302":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 获取评论列表
      tags:
      - artical_comment
  /photo/list:
    get:
      consumes:
      - application/json
      description: 获取图片列表
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/models.DailyPhotograph'
                  type: array
              type: object
        "20203":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 获取图片列表
      tags:
      - photo
  /photo/test:
    get:
      consumes:
      - application/json
      description: 测试
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 测试
      tags:
      - photo
  /photo/upload:
    post:
      consumes:
      - multipart/form-data
      description: 上传图片
      parameters:
      - description: 图片
        in: formData
        name: photos
        required: true
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
        "20201":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 上传图片
      tags:
      - photo
  /user/checkUserEmail:
    get:
      consumes:
      - application/json
      description: 验证邮箱是否存在
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 验证邮箱是否存在
      tags:
      - user
  /user/checkUserName:
    get:
      consumes:
      - application/json
      description: 验证用户名是否存在
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 验证用户名是否存在
      tags:
      - user
  /user/emailVerificationCode:
    post:
      consumes:
      - multipart/form-data
      description: 获取邮箱验证码
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 获取邮箱验证码
      tags:
      - user
  /user/login:
    post:
      consumes:
      - multipart/form-data
      description: 用户登录
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
        "20002":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
        "20104":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
        "20114":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
        "20115":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
        "20116":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 用户登录
      tags:
      - user
  /user/refreshToken:
    post:
      consumes:
      - application/json
      description: 使用refresh token获取新的access token和refresh token
      parameters:
      - description: Refresh Token
        in: body
        name: refresh_token
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: object
              type: object
        "20002":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
        "20120":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
        "20121":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 刷新Token
      tags:
      - user
  /user/register:
    post:
      consumes:
      - multipart/form-data
      description: 用户注册
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
        "20002":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
        "20105":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
        "20106":
          description: ""
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 用户注册
      tags:
      - user
  /user/verifyEmailVerificationCode:
    post:
      consumes:
      - multipart/form-data
      description: 验证邮箱验证码
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/internal.Response'
            - properties:
                data:
                  type: string
              type: object
      summary: 验证邮箱验证码
      tags:
      - user
swagger: "2.0"
